<div class="body">
    <mat-toolbar>
        <div class="toolbar" style="display: flex">
            <button mat-icon-button >
                <mat-icon>menu</mat-icon>
            </button>
            <div class="logo">
                <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="">
                <div class="fundoo">
                    <div class="Project" *ngFor="let fontcolor of fontcolors,let i=index">
                        <h1 class="projectName" [style]=fontcolor>{{fonttexts[i]}}</h1>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="searchbar">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <input type="text"  placeholder="Search" />
        </div>
        <div class="refresh" style="display: flex; align-items: center">
            <button mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="material-icons-outlined">view_agenda</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="settings_outline">settings_outline</mat-icon>
            </button>
            <button mat-icon-button style="margin-left: 20px">
                <mat-icon>apps</mat-icon>
            </button>
            <img class="profilepic" 
            src="	https://lh3.googleusercontent.com/ogw/ADea4I7UaL5WjBcOwyXwBjojVUkNRDl9N1ChjcPrgmxZjQ=s32-c-mo"
            style="width: 40px; height: 40px; border-radius: 50%; margin-left: 5px" 
            alt="pic" />
        </div>
    </mat-toolbar>

    
    
     <div class="sideIcon" style="margin-bottom: 10px; padding-left: 20px;">
                <button>
                  <mat-icon>notifications_none</mat-icon>
                </button>
            </div>

            <div class="sideIcon" style="margin-bottom: 10px; padding-left: 20px;">
                <button>
                    <mat-icon>create</mat-icon>
                </button>

            </div>

            <div class="sideIcon" style="margin-bottom: 10px; padding-left: 20px;">
                <button>
                    <mat-icon>archive</mat-icon>
                </button>
            </div>

            <div class="sideIcon" style="margin-bottom: 10px;padding-left: 20px;   background: transparent;">
                <button>
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>

    </div>
<!-- </div> -->